#banner {
  display: block;
  position: relative;
  background: rgba(0,0,0,0);
}

#banner::after {
  content: "";
  background: url('../src/images/blue-water-1198898.jpg');
  opacity: 0.92;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.section{
  flex-direction: column;
}

.table-container {
  display: flex;
  justify-content: center;
}

.title {
  text-shadow: 3px 3px #000000;
  font-size: 4em;
}

.subtitle {
  text-shadow: 1.5px 1.5px #000000;
}

.section{
  display: flex;
  justify-content: center;
}

.input-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.volumeElapsed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeElapsed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeInputSpan {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.timeInput {
  width: 100%;
  height: 30%;
  text-align: center;
}

.timeElapsedInput {
  width: 15%;
}

.timeInputsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.volumeElapsedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.volumeRateInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeRateInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.timeElapsedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resultDisplay {
  border: 1px solid black;
  height: 3em;
  width: 70%;
}

.tableArea {
  width: 50%;
}
