#banner {
  display: block;
  position: relative;
  background: rgba(0,0,0,0);
}

#banner::after {
  content: "";
  background: url('../src/images/blue-water-1198898.jpg');
  opacity: 0.92;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.section{
  flex-direction: column;
}

.table-container {
  display: flex;
  justify-content: center;
}

.title {
  text-shadow: 3px 3px #000000;
  font-size: 4em;
}

.subtitle {
  text-shadow: 1.5px 1.5px #000000;
}

.section{
  display: flex;
  justify-content: center;
}

.input-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.volumeElapsed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeElapsed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeInputSpan {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.timeInput {
  width: 100%;
  height: 30%;
  text-align: center;
}

.timeElapsedInput {
  width: 15%;
}

.timeInputsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.volumeElapsedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.volumeRateInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeRateInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.timeElapsedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resultDisplay {
  border: 1px solid black;
  height: 3em;
  width: 70%;
}

.tableArea {
  width: 50%;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Converted from"; }
	td:nth-of-type(2):before { content: "Quantity"; }
	td:nth-of-type(3):before { content: "Imperial Gallon"; }
	td:nth-of-type(4):before { content: "Litre"; }
	td:nth-of-type(5):before { content: "Cubic Metre"; }
	td:nth-of-type(6):before { content: "Cubic Centimetre"; }
	td:nth-of-type(7):before { content: "Cubic Foot"; }
	td:nth-of-type(8):before { content: "Cubic Inch"; }
}
